h1 {
    color: red;
    background-color: yellow;
    text-align: center;
    font-family: Arial;
    font-size: 50px;
    letter-spacing: 10px;
    text-decoration: underline;
}

p {
    font-family: Arial;
    font-size: 20px;
    line-height: 300%;
    font-style: italic;
    background-color: lightgrey;
} 
