* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: black;
}

header {
    background-color: #002147;
    width: 70%;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav ul li a {
    display: block;
    padding: 15px 10px 15px 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
}

nav ul li:hover a {
    background-color: white;
    color: #002147;
}


main h1 {
    font-weight: bold;
    margin-bottom: 10px;
}

main h2 {
    font-weight: normal;
    color: #011225
}

main p {
    text-align: justify;
    margin-bottom: 15px;
}

.img {
    background-image: url(img/fundo\ filosofico.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 70%;
    height: 150px;
    display: block;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;

}

.box {
    height: 100%;
    width: 70%;
    display: block;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.box:nth-child(odd) {
    background-color: white;
}

.box:nth-child(even) {
    background-color: #f0f0f0;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 0;
    margin-top: 10px;
}